body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #E6E6FA;
}

input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background:white;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #87CEEB;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #87CEEB;
}
form {
  padding: 2rem;
  border: 1px solid #AAA;
  width: 20rem;
  margin: 2rem auto;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #F9F9F9;
  text-align: center;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #CCC;
  border-radius: 4px;
}

form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}


/* automatically added by NavLink component */
.active {
  color: #B0C592;
  font-weight: bold;
  font-style: italic;
}

/* HomePage.css */

/* HomePage.css */

.home-page-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.adopt-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loading-message {
  font-size: 16px;
  color: #007bff;
}

.error-message {
  font-size: 16px;
  color: #ff0000;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Style the "Delete" button */
button {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the links to individual pet pages */
a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
